@model Avia_is.Models.Route

@{
    ViewBag.Title = "Delete";
}

<h2>Удалить</h2>

<h3>Вы уверены, что хотите выполнить это действие?</h3>
<div>
    <h4>Маршрут</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Номер рейса </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flight.IDFlight)
        </dd>

        <dt>
            <label>Аэропорт вылета </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departure_airport)
        </dd>

        <dt>
            <label>Аэропорт назначения </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination_airport)
        </dd>

        <dt>
            <label>Цена билета </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ticket_price)
        </dd>

        <dt>
            <label>Продолжительность полета (мин.) </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flight_duration)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            @Html.ActionLink("Вернуться", "Index")
        </div>
    }
</div>
