@model Avia_is.Models.AviaPassenger

@{
    ViewBag.Title = "Delete";
}

<h2>Удалить</h2>

<h3>Вы уверены, что хотите выполнить это действие?</h3>
<div>
    <h4>Пассажир</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Фамилия</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            <label>Имя</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <label>Отчество</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            <label>Адрес</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            <label>Телефон</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            @Html.ActionLink("Вернуться", "Index")
        </div>
    }
</div>
