@model IEnumerable<Avia_is.Models.Flight>

@{
    ViewBag.Title = "Рейс";
}

<h2>Информация о рейсе</h2>

<p>
    @Html.ActionLink("Создать", "Create", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Далее", "Index", "Routes", null, new { @class = "btn btn-warning" })

</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Фамилия пассажира</th>
            <th>Дата вылета </th>
            <th>Время вылета </th>
            <th>Готовность</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AviaPassenger.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departure_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departure_time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Readiness)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.IDFlight }) |
                    @Html.ActionLink("Детали", "Details", new { id = item.IDFlight }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.IDFlight })
                </td>
            </tr>
        }
    </tbody>
</table>
